<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.test.epicapp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
        <activity
            android:name=".LoadScreen"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="Main app" >
            <intent-filter>
                <action android:name="com.test.epicapp.MAINACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TextActivity"
            android:label="Text app" >
        </activity>
        <activity
            android:name=".Menu"
            android:label="Main menu" >
            <intent-filter>
                <action android:name="com.test.epicapp.MENU" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RandomShapeActivity"
            android:label="Random shape" >
        </activity>
        <activity
            android:name=".Email"
            android:label="E-mail app" >
        </activity>
        <activity
            android:name=".Camera"
            android:label="Camera app"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Data"
            android:label="Data" >
        </activity>
        <activity
            android:name=".OpenedClass"
            android:label="OpenedClass" >
        </activity>
        <activity
            android:name=".AboutUs"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Dialog" >
            <intent-filter>
                <action android:name="com.test.epicapp.ABOUT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Prefs"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.test.epicapp.PREFS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Graphics"
            android:label="Graphics" >
        </activity>
        <activity
            android:name=".GraphicsSurface"
            android:label="GraphicsSurface" >
        </activity>
    </application>

</manifest>